  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
  body{
    font-family: 'Montserrat', sans-serif;
    color: #63a3a0;
}
h1 {
    color: rgb(#45c4bd);
  }
#contenedor{
    width: 800px;
    height: 500px;
    text-align: center;
    /* Estas 3 lineas se encargan de centrar el div vertical y horizontalmente */
    position: absolute;
    inset: 5;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 1px;
}
#division {
        flex: 1;
        border: 10px solid rgb(29, 4, 4); /* Añade un borde para ver las divisiones */
}
#calculadora{
    background: white;
    /* Con estas 3 lineas vamos a hacer que los divs queden lado a lado */
    width: 70%;
    height: 130%;
    float: left;
}

#detalle{
    background: #63a3a0;
    /* Con estas 3 lineas vamos a hacer que los divs queden lado a lado */
    width: 50%;
    height: 100%;
    float: left;
    color: #f6f5f7;
}
.contenido{
    /* Estas tres lineas van a centrar el contenido verticalmente dentro de cada div */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    padding: 30px;
}
input {
	width: 50%;
    padding: 10px 10px;
    border: none;
    background-color: #fffefe;
}

button {
  font-size: 12px;
	font-weight: bold;
	padding: 9px 15px;
	border-radius: 15px;
	background-color: #63a3a0;
	border: 1px solid #63a3a0;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: transform 1ms ease-in;
}

button:active {
	transform: scale(0.95);
}
#contenedor{
    width: 800px;
    height: 800px;
    text-align: center;
    /* Estas 3 lineas se encargan de centrar el div vertical y horizontalmente */
    position: absolute;
    left: 100px;
    inset: 0;
    margin: auto;
    border-radius: 1px;
    overflow: hidden; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
  }
  #error{
    color: red;
    font-weight: bold;
    display: none;
}

.resultado{
    color: #081722;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    display: none;
}
